body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #005a87;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #00466e;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #00334e;
    border-radius: 5px;
}

main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1, h2 {
    color: #005a87;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #005a87;
    color: white;
}

td a {
    color: #005a87;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figcaption {
    font-style: italic;
    color: #666;
}

footer {
    background-color: #00466e;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

a {
    color: #005a87;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page_actuelle{
	background-color:#00799a ;
}

h2{
	font-size: 35px;
}

h1{
	font-size: 50px;
	text-align: center;
}

body{
	font-size: 19px;
}

.gallery img {
    transition: transform 0.5s;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 85%;
}

.gallery img:hover {
    transform: scale(1.1);
}

.stations img:hover {
	transform: scale(0.95);
}

